<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PomodoroMobileApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>NeverMindCompact-Bold.ttf</string>
		<string>NeverMindCompact-BoldItalic.ttf</string>
		<string>NeverMindCompact-Book.ttf</string>
		<string>NeverMindCompact-BookItalic.ttf</string>
		<string>NeverMindCompact-DemiBold.ttf</string>
		<string>NeverMindCompact-DemiBoldItalic.ttf</string>
		<string>NeverMindCompact-Extrabold.ttf</string>
		<string>NeverMindCompact-ExtraboldItalic.ttf</string>
		<string>NeverMindCompact-ExtraLight.ttf</string>
		<string>NeverMindCompact-ExtraLightItalic.ttf</string>
		<string>NeverMindCompact-Heavy.ttf</string>
		<string>NeverMindCompact-HeavyItalic.ttf</string>
		<string>NeverMindCompact-Light.ttf</string>
		<string>NeverMindCompact-LightItalic.ttf</string>
		<string>NeverMindCompact-Medium.ttf</string>
		<string>NeverMindCompact-MediumItalic.ttf</string>
		<string>NeverMindCompact-Regular.ttf</string>
		<string>NeverMindCompact-RegularItalic.ttf</string>
		<string>NeverMindCompact-Thin.ttf</string>
		<string>NeverMindCompact-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
